<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/main::head(~{::title})">
    <title>BootAdmin - Main page</title>
</head>
<body class="bg-light">

    <nav th:replace="fragment/nav::topbar"></nav>

    <div class="d-flex">

        <div th:replace="fragment/nav::menubar"></div>

        <div class="content p-4">
            <h2 class="mb-4">BootAdmin</h2>

            <div class="card mb-4">
                <div class="card-body">
                    <a sec:authorize="hasRole('MANAGER')" th:href="@{/products}" class="h5 text-primary">Products</a><br>
                    <a sec:authorize="hasRole('MANAGER')" th:href="@{/categories}" class="h5 text-primary">Categories</a><br>
                    <a sec:authorize="hasRole('MANAGER')" th:href="@{/brands}" class="h5 text-primary">Brands</a><br>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/users}" class="h5 text-primary">Users</a><br>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/roles}" class="h5 text-primary">Roles</a>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragment/main::scripts"/>

</body>
</html>