<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/main::head(~{::title},~{::head/link})">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/cart_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/cart_responsive.css}">
</head>

<body>

    <div class="super_container">

        <!-- Header -->
        <header th:replace="fragment/header"></header>

        <!-- Cart -->

        <div class="cart_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="cart_container">
                            <div class="cart_title">Shopping Cart</div>
                            <div th:if="${orderItems.size()}>0" class="cart_items">
                                <ul class="cart_list">
                                    <li th:each="item:${orderItems}" class="cart_item clearfix">
                                        <div class="cart_item_image">
                                            <img th:unless="${#lists.isEmpty(item.product.pictures)}"
                                                 th:src="@{/picture/{id}(id=${item.product.pictures.get(0).id})}"
                                                 alt="">
                                            <img th:if="${#lists.isEmpty(item.product.pictures)}"
                                                 th:src="@{/images/no_picture.jpg}" alt="">
                                        </div>
                                        <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                            <div class="cart_item_name cart_info_col">
                                                <div class="cart_item_title">Name</div>
                                                <div class="cart_item_text" th:text="${item.product.title}"></div>
                                            </div>
                                            <div class="cart_item_color cart_info_col">
                                                <div class="cart_item_title">Color</div>
                                                <div class="cart_item_text"><span
                                                        style="background-color:#999999;"></span>Silver
                                                </div>
                                            </div>
                                            <div class="cart_item_quantity cart_info_col">
                                                <div class="cart_item_title">Quantity</div>
                                                <form class="cart_form" th:action="@{/cart/update}" method="post">
                                                    <input type="hidden" th:value="${item.productId}" name="lineItemId">
                                                    <input class="product_quantity" type="number" min="0" step="1"
                                                           th:value="${item.quantity}"
                                                           name="qty">
                                                    <button type="submit" class="button cart_button_action">
                                                        <i class="fas fa-sync-alt"></i>
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="cart_item_price cart_info_col">
                                                <div class="cart_item_title">Price</div>
                                                <div class="cart_item_text" th:text="'$'+${item.product.price}"></div>
                                            </div>
                                            <div class="cart_item_total cart_info_col">
                                                <div class="cart_item_title">Total</div>
                                                <div class="cart_item_text" th:text="'$'+${item.sum}"></div>
                                            </div>
                                            <div class="cart_item_quantity cart_info_col">
                                                <div class="cart_item_title">Delete</div>
                                                <form class="cart_form" th:action="@{/cart/delete}" th:method="delete">
                                                    <input type="hidden" th:value="${item.productId}" name="lineItemId">
                                                    <button type="submit" class="button cart_button_action">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!-- Order Total -->
                            <div class="order_total">
                                <div class="order_total_content text-md-right">
                                    <div class="order_total_title">Order Total:</div>
                                    <div class="order_total_amount" th:text="'$'+${cartSum}"></div>
                                </div>
                            </div>

<!--                            <div class="cart_buttons">-->
<!--                                <button type="button" class="button cart_button_clear">Add to Cart</button>-->
<!--                                <button type="button" class="button cart_button_checkout">Add to Cart</button>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer block -->
        <th:block th:replace="fragment/footer"/>
    </div>

    <th:block id="scripts" th:replace="fragment/main::scripts(~{::#scripts/script})">
        <script th:src="@{/js/cart_custom.js}"></script>
    </th:block>
</body>

</html>