<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/main::headWithOwlCarouse(~{::title},~{::head/link})">
    <title>Single Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/product_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/product_responsive.css}">
</head>

<body>

    <div class="super_container">

        <!-- Header -->
        <header th:replace="fragment/header"></header>

        <!-- Single Product -->

        <div class="single_product">
            <div class="container">
                <div class="row">

                    <!-- Images -->
                    <div th:unless="${#lists.isEmpty(product.pictures)}" class="col-lg-2 order-lg-1 order-2">
                        <ul class="image_list">
                            <li th:each="image:${product.pictures}" th:data-image="@{/picture/{id}(id=${image.id})}">
                                <img th:src="@{/picture/{id}(id=${image.id})}" alt="">
                            </li>
                        </ul>
                    </div>

                    <!-- Selected Image -->
                    <div class="col-lg-5 order-lg-2 order-1">
                        <div class="image_selected">
                            <img th:unless="${#lists.isEmpty(product.pictures)}"
                                 th:src="@{/picture/{id}(id=${product.pictures.get(0).id})}" alt="">
                            <img th:if="${#lists.isEmpty(product.pictures)}"
                                 th:src="@{/images/no_picture.jpg}" alt="">
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="col-lg-5 order-3">
                        <div class="product_description">
                            <div class="product_category" th:text="${product.category.name}"></div>
                            <div class="product_name" th:text="${product.title}"></div>
                            <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
                            <div class="product_text"><p th:text="${product.description}"></p></div>
                            <div class="order_info d-flex flex-row">
                                <form th:action="@{/cart/add}" method="post" th:object="${product}">
                                    <input type="hidden" id="id" th:field="*{id}">
                                    <div class="clearfix" style="z-index: 1000;">

                                        <!-- Product Quantity -->
                                        <div class="product_quantity clearfix">
                                            <span>Quantity: </span>
                                            <input id="quantity_input" type="text" pattern="[0-9]*" value="1"
                                                   name="qty">
                                            <div class="quantity_buttons">
                                                <div id="quantity_inc_button" class="quantity_inc quantity_control"><i
                                                        class="fas fa-chevron-up"></i></div>
                                                <div id="quantity_dec_button" class="quantity_dec quantity_control"><i
                                                        class="fas fa-chevron-down"></i></div>
                                            </div>
                                        </div>

                                        <!-- Product Color -->
                                        <ul class="product_color">
                                            <li>
                                                <span>Color: </span>
                                                <div class="color_mark_container">
                                                    <div id="selected_color" class="color_mark"></div>
                                                </div>
                                                <div class="color_dropdown_button"><i class="fas fa-chevron-down"></i>
                                                </div>

                                                <ul class="color_list">
                                                    <li>
                                                        <div class="color_mark" style="background: #999999;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="color_mark" style="background: #b19c83;"></div>
                                                    </li>
                                                    <li>
                                                        <div class="color_mark" style="background: #000000;"></div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="product_price" th:text="'$'+*{price}"></div>
                                    <div class="button_container">
                                        <button type="submit" class="button cart_button">Add to Cart</button>
                                        <div class="product_fav"><i class="fas fa-heart"></i></div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Recently Viewed -->
        <div th:replace="fragment/recently-viewed"></div>

        <!-- Brands -->
        <div th:replace="fragment/brands"></div>

        <!-- Footer block -->
        <th:block th:replace="fragment/footer"/>
    </div>

    <th:block id="scripts" th:replace="fragment/main::scripts(~{::#scripts/script})">
        <script th:src="@{/js/product_custom.js}"></script>
    </th:block>
</body>

</html>