<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/main::headWithOwlCarouse(~{::title},~{::head/link})">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/shop_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/shop_responsive.css}">
</head>

<body>

    <div class="super_container">

        <!-- Header -->
        <header th:replace="fragment/header"></header>

        <!-- Home -->

        <div class="home">
            <div class="home_background parallax-window" data-parallax="scroll"
                 th:data-image-src="@{/images/shop_background.jpg}"></div>
            <div class="home_overlay"></div>
            <div class="home_content d-flex flex-column align-items-center justify-content-center">
                <h2 class="home_title">Products</h2>
            </div>
        </div>

        <!-- Shop -->

        <div class="shop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">

                        <!-- Shop Sidebar -->
                        <div class="shop_sidebar">
                            <div class="sidebar_section">
                                <div class="sidebar_title">Categories</div>
                                <ul class="sidebar_categories">
                                    <!--/*@thymesVar id="categories" type="java.util.List<ru.geekbrains.clientui.dto.CategoryDto>"*/-->
                                    <li th:each="category:${categories}">
                                        <a th:href="@{/#}" th:text="${category.name}"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar_section filter_by_section">
                                <div class="sidebar_title">Filter By</div>
                                <div class="sidebar_subtitle">Price</div>
                                <div class="filter_price">
                                    <div id="slider-range" class="slider_range"></div>
                                    <p>Range: </p>
                                    <p><input type="text" id="amount" class="amount" readonly
                                              style="border:0; font-weight:bold;"></p>
                                </div>
                            </div>
                            <div class="sidebar_section">
                                <div class="sidebar_subtitle color_subtitle">Color</div>
                                <ul class="colors_list">
                                    <li class="color"><a th:href="@{/#}" style="background: #b19c83;"></a></li>
                                    <li class="color"><a th:href="@{/#}" style="background: #000000;"></a></li>
                                    <li class="color"><a th:href="@{/#}" style="background: #999999;"></a></li>
                                    <li class="color"><a th:href="@{/#}" style="background: #0e8ce4;"></a></li>
                                    <li class="color"><a th:href="@{/#}" style="background: #df3b3b;"></a></li>
                                    <li class="color"><a th:href="@{/#}"
                                                         style="background: #ffffff; border: solid 1px #e1e1e1;"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar_section">
                                <div class="sidebar_subtitle brands_subtitle">Brands</div>
                                <ul class="brands_list">
                                    <!--/*@thymesVar id="brands" type="java.util.List<ru.geekbrains.clientui.dto.BrandDto>"*/-->
                                    <li th:each="brand:${brands}" class="brand">
                                        <a th:href="@{/#}" th:text="${brand.name}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-9">

                        <!-- Shop Content -->

                        <div class="shop_content">
                            <div class="shop_bar clearfix">
                                <div class="shop_product_count"><span th:text="${products.size()}"></span> products found</div>
                                <div class="shop_sorting">
                                    <span>Sort by:</span>
                                    <ul>
                                        <li>
                                            <span class="sorting_text">no sort<i
                                                    class="fas fa-chevron-down"></i></span>
                                            <ul>
                                                <li class="shop_sorting_button"
                                                    data-isotope-option='{ "sortBy": "original-order" }'>no sort
                                                </li>
                                                <li class="shop_sorting_button"
                                                    data-isotope-option='{ "sortBy": "name" }'>name
                                                </li>
                                                <li class="shop_sorting_button"
                                                    data-isotope-option='{ "sortBy": "price" }'>price
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product_grid">
                                <div class="product_grid_border"></div>

                                <!-- Product Item -->
<!--                                <div class="product_item is_new">-->
<!--                                    <div class="product_border"></div>-->
<!--                                    <div class="product_image d-flex flex-column align-items-center justify-content-center">-->
<!--                                        <img th:src="@{/images/new_5.jpg}" alt=""></div>-->
<!--                                    <div class="product_content">-->
<!--                                        <div class="product_price">$225</div>-->
<!--                                        <div class="product_name">-->
<!--                                            <div><a th:href="@{/#}" tabindex="0">Philips BT6900A</a></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="product_fav"><i class="fas fa-heart"></i></div>-->
<!--                                    <ul class="product_marks">-->
<!--                                        <li class="product_mark product_discount">-25%</li>-->
<!--                                        <li class="product_mark product_new">new</li>-->
<!--                                    </ul>-->
<!--                                </div>-->

                                <!-- Product Item -->
<!--                                <div class="product_item discount">-->
<!--                                    <div class="product_border"></div>-->
<!--                                    <div class="product_image d-flex flex-column align-items-center justify-content-center">-->
<!--                                        <img th:src="@{/images/featured_1.png}" alt=""></div>-->
<!--                                    <div class="product_content">-->
<!--                                        <div class="product_price">$225<span>$300</span></div>-->
<!--                                        <div class="product_name">-->
<!--                                            <div><a th:href="@{/#}" tabindex="0">Huawei MediaPad...</a></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="product_fav"><i class="fas fa-heart"></i></div>-->
<!--                                    <ul class="product_marks">-->
<!--                                        <li class="product_mark product_discount">-25%</li>-->
<!--                                        <li class="product_mark product_new">new</li>-->
<!--                                    </ul>-->
<!--                                </div>-->

                                <!-- Product Item -->
                                <div th:each="product:${products}" class="product_item">
                                    <div class="product_border"></div>
                                    <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                        <img th:unless="${#lists.isEmpty(product.pictures)}"
                                             th:src="@{/picture/{id}(id=${product.pictures.get(0).id})}" alt="">
                                        <img th:if="${#lists.isEmpty(product.pictures)}"
                                             th:src="@{/images/no_picture.jpg}" alt="">
                                    </div>
                                    <div class="product_content">
                                        <div class="product_price" th:text="'$'+${product.price}"></div>
                                        <div class="product_name">
                                            <div><a th:href="@{/shop/product/{id}(id=${product.id})}"
                                                    tabindex="0" th:text="${product.title}"></a></div>
                                        </div>
                                    </div>
                                    <div class="product_fav"><i class="fas fa-heart"></i></div>
                                    <ul class="product_marks">
                                        <li class="product_mark product_discount">-25%</li>
                                        <li class="product_mark product_new">new</li>
                                    </ul>
                                </div>

                            </div>

                            <!-- Shop Page Navigation -->

                            <div class="shop_page_nav d-flex flex-row">
                                <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i
                                        class="fas fa-chevron-left"></i></div>
                                <ul class="page_nav d-flex flex-row">
                                    <li><a th:href="@{/#}">1</a></li>
                                    <li><a th:href="@{/#}">2</a></li>
                                    <li><a th:href="@{/#}">3</a></li>
                                    <li><a th:href="@{/#}">...</a></li>
                                    <li><a th:href="@{/#}">21</a></li>
                                </ul>
                                <div class="page_next d-flex flex-column align-items-center justify-content-center"><i
                                        class="fas fa-chevron-right"></i></div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Recently Viewed -->
        <div th:replace="fragment/recently-viewed"></div>

        <!-- Brands -->
        <div th:replace="fragment/brands"></div>

        <!-- Footer block -->
        <th:block th:replace="fragment/footer"/>
    </div>

    <th:block id="scripts" th:replace="fragment/main::scripts(~{::#scripts/script})">
        <script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
        <script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
        <script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
        <script th:src="@{/js/shop_custom.js}"></script>
    </th:block>
</body>

</html>